* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121826;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url("C:\Users\suman\OneDrive\文档\Algo 3\2086940.jpg");
  }
  .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

  
  .container {
    text-align: center;
    width: 80%;
    margin-top: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .controls {
    margin-bottom: 15px;
  }
  
  .controls input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
  }
  
  .controls button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .controls button:hover {
    background-color: #0056b3;
  }
  
  .output {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .array-container {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .array-box {
    width: 50px;
    height: 50px;
    border: 2px solid #007bff;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .array-box.highlight {
    background-color: #5fe4d4; /* Light red background */
    
  }
  
  @keyframes blink {
    50% {
      background-color: #ffffff;
    }
  }
  